<h2> Cambiar sucursal </h2>

<p style="color: green"><%= notice %></p>
<% if notice.blank? %>
<% flash.each do |type, msg| %>
    <div>
      <p style ="color:red"><%= msg %></p>
    </div>
  <% end %>
  <% end %>
<p><span class="font-weight-bold">Usuario: </span> <%= @user.email %></p>
  <%= form_with url: update_sucursal_path(:usuario_id => @user), method: :post do |f| %>
  <div>
  <%= f.label :sucursal_id, style: "display: block", class:"font-weight-bold" %>
  <%= f.select(:sucursal_id, options_from_collection_for_select(@branch_offices, :id, :nombre, @user.sucursal_id), include_blank: true) %>
</div>
    <br></br>
    <%= f.submit "Cambiar sucursal" %>
  <% end %>