<h1> Listado de usuarios: </h1>
<div class="container-fluid d-flex flex-wrap">
<% @users.each do |user| %>
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body d-flex flex-column">
        <div class="align-items-center">
          
        <p class="text-dark" ><span class="font-weight-bold"> Email: </span><span> <%= user.email%> </span> </p>
        <p class="text-dark" ><span class="font-weight-bold"> Rol: </span><span> <%= user.rol%> </span> </p>

        <span>
            <p class="text-dark" ><span class="font-weight-bold"> Creado el día: </span><span> <%= user.created_at.strftime("%D") %> </span> </p> 
          
          </span>
          <% if user.empleado? %>
          <p class="text-dark" ><span class="font-weight-bold"> Sucursal: </span><span> <%= showSucursalName(user.sucursal_id) %> </span> </p>
          <% end%>

          </div>
      </div>
      <% if user.empleado? %>
      <div class="card-footer">
      <%= link_to "Cambiar sucursal", editEmpleado_path(:user_id => user.id), class:"btn btn-success" %>
      </div>
      <% end %>
  </div>
  </div>
  <% end %>
  </div>
