<h2> Cambia tu contrase単a </h2>
<% flash.each do |type, msg| %>
    <div>
      <p style ="color:red"><%= msg %></p>
    </div>
  <% end %>
<%= form_with url: update_password_path, method: :post do |form| %>
    <span> Nueva contrase単a: </span>
    <%= form.text_field(:password) %>
    <br></br>
    <span> Repita la contrase単a: </span>
    <%= form.text_field(:password_confirmation) %>
    <br></br>
    <%= form.submit "Cambiar contrase単a" %>
  <% end %>