<h1> Mi perfil </h1>
<br></br>
<p style="color: green"><%= notice %></p>


<p class="text-dark"><span class="font-weight-bold">Email: </span><span> <%= current_user.email %></span> </p> 

<p class="text-dark"><span class="font-weight-bold">Rol: </span><span> <%= current_user.rol %></span> </p>

<p class="text-dark" ><span class="font-weight-bold"> Creado el día: </span><span> <%= current_user.created_at.strftime("%H:%M:%S") %> </span> </p>

<%= link_to "Cambiar contraseña", passwordForm_path, method: :get, class: "btn btn-info"%><br />


<br></br>

