<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibieron que este formulario se guarde:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lunes_inicio, style: "display: block" %>
    <%= form.time_field :lunes_inicio %>
  </div>

  <div>
    <%= form.label :lunes_fin, style: "display: block" %>
    <%= form.time_field :lunes_fin %>
  </div>

  <div>
    <%= form.label :martes_inicio, style: "display: block" %>
    <%= form.time_field :martes_inicio %>
  </div>

  <div>
    <%= form.label :martes_fin, style: "display: block" %>
    <%= form.time_field :martes_fin %>
  </div>

  <div>
    <%= form.label :miercoles_inicio, style: "display: block" %>
    <%= form.time_field :miercoles_inicio %>
  </div>

  <div>
    <%= form.label :miercoles_fin, style: "display: block" %>
    <%= form.time_field :miercoles_fin %>
  </div>

  <div>
    <%= form.label :jueves_inicio, style: "display: block" %>
    <%= form.time_field :jueves_inicio %>
  </div>

  <div>
    <%= form.label :jueves_fin, style: "display: block" %>
    <%= form.time_field :jueves_fin %>
  </div>

  <div>
    <%= form.label :viernes_inicio, style: "display: block" %>
    <%= form.time_field :viernes_inicio %>
  </div>

  <div>
    <%= form.label :viernes_fin, style: "display: block" %>
    <%= form.time_field :viernes_fin %>
  </div>

  <div>
  <%= form.label :sabado_inicio, style: "display: block" %>
  <%= form.time_field :sabado_inicio %>
</div>

<div>
  <%= form.label :sabado_fin, style: "display: block" %>
  <%= form.time_field :sabado_fin %>
</div>

<div>
<%= form.label :domingo_inicio, style: "display: block" %>
<%= form.time_field :domingo_inicio %>
</div>

<div>
<%= form.label :domingo_fin, style: "display: block" %>
<%= form.time_field :domingo_fin %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>