<div id="<%= dom_id schedule %>">
  <p class="text-primary font-weight-bold">
  <%= schedule.name %>
</p>
  <p>
    <strong>Lunes:</strong>
    <%= check_null(schedule.lunes_inicio,schedule.lunes_fin) %> 
  </p>

  <p>
    <strong>Martes:</strong>
    <%= check_null(schedule.martes_inicio,schedule.martes_fin) %> 
  </p>

  <p>
    <strong>Miercoles:</strong>
    <%= check_null(schedule.miercoles_inicio,schedule.miercoles_fin) %> 
  </p>

  <p>
    <strong>Jueves:</strong>
    <%= check_null(schedule.jueves_inicio,schedule.jueves_fin) %> 
  </p>
  
  <p>
    <strong>Viernes:</strong>
    <%= check_null(schedule.viernes_inicio,schedule.viernes_fin) %> 
</p>

  <p> 
    <strong>Sabado:</strong>
    <%= check_null(schedule.sabado_inicio,schedule.sabado_fin) %> 
  </p>

  <p>
    <strong>Domingo:</strong>
    <%= check_null(schedule.domingo_inicio,schedule.domingo_fin) %> 
  </p>
</div>