<div id="<%= dom_id schedule %>">
  <p>
    <strong>Lunesinicio:</strong>
    <%= schedule.lunesInicio %>
  </p>

  <p>
    <strong>Lunesfin:</strong>
    <%= schedule.lunesFin %>
  </p>

  <p>
    <strong>Martesinicio:</strong>
    <%= schedule.martesInicio %>
  </p>

  <p>
    <strong>Martesfin:</strong>
    <%= schedule.martesFin %>
  </p>

  <p>
    <strong>Miercolesinicio:</strong>
    <%= schedule.miercolesInicio %>
  </p>

  <p>
    <strong>Miercolesfin:</strong>
    <%= schedule.miercolesFin %>
  </p>

  <p>
    <strong>Juevesinicio:</strong>
    <%= schedule.juevesInicio %>
  </p>

  <p>
    <strong>Juevesfin:</strong>
    <%= schedule.juevesFin %>
  </p>

  <p>
    <strong>Viernesinicio:</strong>
    <%= schedule.viernesInicio %>
  </p>

  <p>
    <strong>Viernesfin:</strong>
    <%= schedule.viernesFin %>
  </p>

</div>
