<div id="<%= dom_id schedule %>">
  <p>
  <%= schedule.name %>
</p>
  <p>
    <strong>Lunes:</strong>
    <%= schedule.lunesInicio.strftime("%H:%M:%S") %> -
    <%= schedule.lunesFin.strftime("%H:%M:%S") %>
  </p>

  <p>
    <strong>Martes:</strong>
    <%= schedule.martesInicio.strftime("%H:%M:%S") %> -
    <%= schedule.martesFin.strftime("%H:%M:%S") %>
  </p>

  <p>
    <strong>Miercoles:</strong>
    <%= schedule.miercolesInicio.strftime("%H:%M:%S") %> -
    <%= schedule.miercolesFin.strftime("%H:%M:%S") %>
  </p>

  <p>
    <strong>Jueves:</strong>
    <%= schedule.juevesInicio.strftime("%H:%M:%S") %> -
    <%= schedule.juevesFin.strftime("%H:%M:%S") %>
  </p>
  
  <p>
    <strong>Viernes:</strong>
    <%= schedule.viernesInicio.strftime("%H:%M:%S") %> -
    <%= schedule.viernesFin.strftime("%H:%M:%S") %>
</p>

</div>
