<div id="<%= dom_id schedule %>">
  <p class="text-center text-dark font-weight-bold">
  <%= schedule.name %>
</p>
  <p>
    <strong>Lunes:</strong>
    <%= checkNull(schedule.lunesInicio,schedule.lunesFin) %> 
  </p>

  <p>
    <strong>Martes:</strong>
    <%= checkNull(schedule.martesInicio,schedule.martesFin) %> 
  </p>

  <p>
    <strong>Miercoles:</strong>
    <%= checkNull(schedule.miercolesInicio,schedule.miercolesFin) %> 
  </p>

  <p>
    <strong>Jueves:</strong>
    <%= checkNull(schedule.juevesInicio,schedule.juevesFin) %> 
  </p>
  
  <p>
    <strong>Viernes:</strong>
    <%= checkNull(schedule.viernesInicio,schedule.viernesFin) %> 
</p>

  <p> 
    <strong>Sabado:</strong>
    <%= checkNull(schedule.sabadoInicio,schedule.sabadoFin) %> 
  </p>

  <p>
    <strong>Domingo:</strong>
    <%= checkNull(schedule.domingoInicio,schedule.domingoFin) %> 
  </p>
</div>
