<p style="color: green"><%= notice %></p>

<%= render @schedule %>
<br></br>

<div>
  <%= link_to "Editar horario", edit_schedule_path(@schedule), class: "btn btn-primary" %> |
  <%= link_to "Volver al listado de horarios", schedules_path, class: "btn btn-secondary" %>
  <br></br>
  <%= button_to "Eliminar este horario", @schedule, method: :delete, class: "btn btn-danger" %>
</div>