<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to "Edit this schedule", edit_schedule_path(@schedule) %> |
  <%= link_to "Back to schedules", schedules_path %>

  <%= button_to "Destroy this schedule", @schedule, method: :delete %>
</div>
