<%= form_with(model: turn) do |form| %>
  <% if turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turn.errors.count, "error") %> prohibieron que este turno se guarde:</h2>

      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sucursal_id, style: "display: block" %>
    <%= form.select(:sucursal_id, options_from_collection_for_select(@branch_offices, :id, :nombre, @turn.sucursal_id), include_blank: true) %>
</div>
  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>
  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.label :hora, style: "display: block" %>
    <%= form.time_field :hora %>
  </div>
        <br></br>
  <div>
    <%= form.submit %>
  </div>
<% end %>