<div id="<%= dom_id turn %>">
  <p>
    <strong>Sucursal:</strong>
    <%= showSucursalName(turn.sucursal_id) %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= turn.fecha %>
  </p>

  <p>
  <strong>Hora:</strong>
  <%= turn.hora.strftime("%H:%M:%S") %>
</p>

<p>
<strong> Solicitado por: </strong>
<%= showUserMail(turn.creador_id)%>
</p>
  <p>
    <strong>Motivo:</strong>
    <%= turn.reason %>
  </p>

  <% if turn.state==1 %>
  <p>
  <strong> Atendido por: </strong>
  <p><%= showEmployeeEmail(turn.empleados_id) %></p>
  </p>
    <p>
    <strong>Comentario del empleado:</strong>
    <%= turn.comentario %>
  </p>
  <% end %>
  <p>
  <strong>Estado:</strong>
  <span class="font-weight-bold text-<%= getStateColor(turn.state) %>"> <%= translateState(turn.state) %></span>
</p>


</div>
