<div id="<%= dom_id turn %>">
  <p>
    <strong>Sucursal:</strong>
    <%= turn.sucursal_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= turn.fecha %>
  </p>

  <p>
  <strong>Hora:</strong>
  <%= turn.hora %>
</p>

  <p>
    <strong>Reason:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>State:</strong>
    <%= turn.state %>
  </p>



</div>
