<p style="color: green"><%= notice %></p>

<%= render @turn %>

<div>
  <%= link_to "Edit this turn", edit_turn_path(@turn) %> |
  <%= link_to "Back to turns", turns_path %>

  <%= button_to "Destroy this turn", @turn, method: :delete %>
</div>
