<p style="color: green"><%= notice %></p>

<%= render @turn %>
<br></br>
<div>

<% if showFinishTurn?(@turn.state) %>
<div>
<%= form_with model: @turn,url: finish_path(:id => @turn.id ), method: :post do |f| %>
  <%= f.text_field :comentario, autocomplete: 'off'%>
  <br></br>
  <button type="submit" class="btn btn-success">Atender turno</button>
<% end %>
<br></br>
</div>
<% end %>

<% if (can? :update, @turn) %>
<%= link_to "Editar turno", edit_turn_path(@turn), class: "btn btn-primary" %> 
<% end %>
<br></br>

<% if ((can? :delete, @turn) && (@turn.state == 0)) %>
  <%= button_to "Cancelar turno", @turn, method: :delete, class: "btn btn-danger" %>
<% end %>
<br></br>
<%= link_to "Volver a listado de turnos", turns_path, class: "btn btn-secondary" %>

</div>
