<h1>Crear usuario administrador</h1>
<%= form_with model: :user, id: "new-user",class: "new-user",url: registration_path(User), method: :post, local: true, scope: :admin_form do |f| %>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

  
  