<h2>Crear un usuario empleado</h2>
<p style="color: green"><%= notice %></p>



<% flash.each do |type, msg| %>
    <div>
      <p style ="color:red"><%= msg %></p>
    </div>
  <% end %>

<%= form_for(User, as: @user, :url => {:controller => "admin_form", :action => "sendEmpleadoForm"} ) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <%= f.hidden_field :rol, value: "empleado" %>
  <div>
    <%= f.label :sucursal_id, style: "display: block" %>
    <%= f.select(:sucursal_id, options_from_collection_for_select(Sucursal.all, :id, :nombre, 1), include_blank: true) %>
</div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
