<div id="<%= dom_id sucursal %>">
<div class="col mr-2">
     <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
        Sucursal <%= sucursal.id %></div>

    <div class="h5 mb-0 font-weight-bold text-gray-800">Nombre:</div>    <%= sucursal.nombre %>
        <div class="h5 mb-0 font-weight-bold text-gray-800">Dirección:</div>     <%= sucursal.dirección %>
        <div class="h5 mb-0 font-weight-bold text-gray-800">Telefono:</div>     <%= sucursal.telefono %>
        <div class="h5 mb-0 font-weight-bold text-gray-800">Horarios:</div>     <%= sucursal.schedule_id %>

         </div>
         <div class="col-auto">
         </div>
</div>