<div id="<%= dom_id sucursal %>">
  <p>
    <strong>Nombre:</strong>
    <%= sucursal.nombre %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= sucursal.dirección %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= sucursal.telefono %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= sucursal.schedule_id %>
  </p>

</div>
