<p style="color: green"><%= notice %></p>

<%= render @branch_office %>
<br></br>
<div>

<% if can? :manage, @branch_office %> 
  <%= link_to "Editar sucursal", edit_sucursal_path(@branch_office), class: "btn btn-primary" %> |
<% end %>
  
  <%= link_to "Ver todas las sucursales", sucursals_path, class: "btn btn-secondary" %>
  <br></br>
  
<% if can? :manage, @branch_office %>
  <%= button_to "Eliminar sucursal", @branch_office, method: :delete, class: "btn btn-danger" %>
<% end %>
  </div>